* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  height: 100vh;
  background: linear-gradient(to right, #00aaff, #00ff6c);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.container {
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.25rem;
  margin: 10px 0;
}

input[type="number"] {
  width: calc(100% - 40px);
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid #00aaff;
  text-align: center;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;
}

input[type="number"]:focus {
  outline: none;
  border-color: #005681;
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: #00aaff;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease-in-out, transform 0.2s;
}

button:hover {
  background-color: #005681;
  transform: scale(1.05);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.messages {
  margin-top: 20px;
}

p span {
  font-weight: bold;
  color: #005681;
}

#error {
  color: red;
  margin-top: 10px;
}
